html {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  background-color: #262626;
  height: 2px;
  border: none;
}

body {
  max-width: 85%;
  height: auto;
  margin: auto;
  background-color: #ddd;
  font-family: Roboto, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.center {
  width: 100%;
  text-align: center;
}

a:link {
  color: #00e;
}

a:visited,
a:active {
  color: #551a8b;
}
