html {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  align-content: center;
  background-color: #eee;
  font-family: Roboto, sans-serif;
}

h2 {
  text-align: center;
  color: #262626;
}

img.shadow {
  filter: drop-shadow(1px 1px 1px #262626);
}

.outer {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 90%;
  width: 90%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

/* Rounded Dark/Light Mode Button */
button {
  font-family: inherit;
  box-shadow: 1px 1px 1px 0 #222;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #AAA;
  color: #000;
}
button:hover {
  background-color: #CCC;
}
button:active {
  box-shadow: 1px 1px 1px 0 #222 inset;
  background-color: #BBB;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  height: 8px;
  width: 8px;
  background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999;
  width: 8px;
  height: 8px;
}
