html {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  align-content: center;
  background-color: #2A2A2E;
  font-family: Roboto, sans-serif;
}

h2 {
  text-align: center;
  color: #F9F9FA;
  filter: drop-shadow(1px 1px 1px #F55E53);
}

hr {
  background-color: #F9F9FA;
  height: 2px;
  border: none;
  width: 75%;
}

img.shadow {
  filter: drop-shadow(1px 1px 1px #111);
}

.outer {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 90%;
  width: 90%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

/* Rounded Dark/Light Mode Button */
button {
  font-family: inherit;
  box-shadow: 1px 1px 1px 0 #222;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #F9F9FA;
  color: #000;
  margin-bottom: 8px;
  width: 108px;
  height: 32px;
  font-size: 16px;
  font-weight: 600;
}
button:hover {
  background-color: #CCC;
}
button:active {
  box-shadow: 1px 1px 1px 0 #222 inset;
  background-color: #DDD;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'),
       url('./fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
