html {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  background-color: #262626;
  height: 2px;
  border: none;
}

body {
  margin: auto;
  background-color: #ddd;
  font-family: Roboto, sans-serif;
}

h2 {
  text-align: center;
  color: #262626;
}

img.shadow {
  filter: drop-shadow(1px 1px 1px #262626);
}

.center {
  text-align: center;
  margin: 50px 0 0 0;
}

@keyframes shadow-Spin {
  0% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25% {
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50% {
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75% {
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
  opacity: 0.75;
  width: 1px;
  margin: 50px auto 0 auto;
  border: 5px solid #FF4136;
  animation: shadow-Spin 1s ease-in-out infinite;
}
